* {
  box-sizing: border-box;
}

body {
  background-color: mediumvioletred;
  font-family: $font;
  font-size: 30px;
}

.quiz-page {
  display: grid;
  grid-gap: 3%;
  grid-template-rows: .5fr 1fr 2fr 1fr;
}

.header-sect {
  margin-top: 2%;
}

.header-sect,
.instructions-sect,
.card-sect,
.results-sect {
  padding: 0 1%;
}

.logo {
  font-family: $logoFont;
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 870px) {
  body {
    p {
      font-size: 20px;
    }
  }
  
  h3 {
    font-size: 30px
  }
}

@media only screen and (max-width: 500px) {
  h2,
  h3,
  a {
    font-size: 25px
  }
}

@media only screen and (max-width: 400px) {
  .quiz-page {
    grid-template-rows: .5fr 1fr 1.5fr 1fr;
  }
}
