* {
  box-sizing: border-box;
}

body {
/*  background-image: url('./pinkpaper.jpg');
  object-fit: cover;*/
  background-color: mediumvioletred;
  font-family: $font;
  font-size: 30px;
}

.quiz-page {
  display: grid;
  grid-gap: 3%;
  grid-template-rows: 1fr 1fr 2fr 1fr;
}

.logo {
  font-family: $logoFont;
  font-size: 2em;
  text-align: center;
}

.header-sect {
  margin-top: 2%;
}

.header-sect,
.instructions-sect,
.card-sect,
.results-sect {
  padding: 0 1%;
}
