.card-div {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 5px 5px 2.5px black;
  height: 95%;
  padding: 5%;
  width: 75%;
}

.answers-on-card {
  padding: .5%;
  &:hover {
    color: teal;
    cursor: pointer;
  }
}

@media only screen and (max-width: 870px) {
  .answers-on-card {
    font-size: 25px;
  }
}

@media only screen and (max-width: 650px) {
  .card-div {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
   .card-div {
    height: 80%;
  }
}


